# Scraping Week 4 DSI310

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
pip install requests

Requirement already satisfied: requests in /opt/conda/lib/python3.10/site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.10/site-packages (from requests) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests) (3.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
data = requests.get('https://propertyscout.co.th/%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E/%E0%B8%A3%E0%B8%B2%E0%B8%8A%E0%B9%80%E0%B8%97%E0%B8%A7%E0%B8%B5/%E0%B8%82%E0%B8%B2%E0%B8%A2/2000000%E0%B8%9A%E0%B8%B2%E0%B8%97-165000000%E0%B8%9A%E0%B8%B2%E0%B8%97/%E0%B8%96%E0%B8%B9%E0%B8%81%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%AA%E0%B8%B8%E0%B8%94/')
soup = BeautifulSoup(data.text)

In [5]:
Title_list = list()
Location_list =list()
Price_list =list()

In [6]:
title = soup.find_all('div',{'class':'Rental_card__content_head__text__CWkji'})

In [7]:
for i in title :
    i = str(i).split('<div class="Rental_card__content_head__text__CWkji"><strong class="Rental_card__name__JhnRh">')[1]
    i = str(i).split('</strong>')[0]
 
    print(i)
    Title_list.append(i)

เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์
คอนโด 1 นอน ห้องใหญ่ ใกล้ BTS พญาไท
เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์
เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์
คอนโด 2 นอน ห้องสวย ใกล้ BTS นานา ขั้นต่ำ 6 ด
เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์
เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์
เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์
เดอะ คอมพลีท ราชปรารภ
วิช ซิกเนเจอร์ มิดทาวน์ สยาม
เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์
บ้าน 3 นอน ห้องกว้าง ใกล้ BTS พญาไท
ราชวิถี ซิตี้ รีสอร์ท คอนโดมิเนียม
วิช แอท สยาม คอนโดมิเนียม
บ้าน 3 นอน ตกแต่งสวย ใกล้ BTS ราชเทวี
วิช แอท สยาม คอนโดมิเนียม
ริทึ่ม อโศก
ไลฟ์ อโศก พระราม 9
เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์
ไลฟ์ อโศก พระราม 9

In [8]:
location = soup.find_all('p',{'class':'Rental_card__address__3H8NF'})

In [9]:
for i in location :
    i = str(i).split('<p class="Rental_card__address__3H8NF">')[1]
    i = str(i).split('</p>')[0]
   
    print(i)
    Location_list.append(i)

พระราม 9, กรุงเทพ
พญาไท, กรุงเทพ
พระราม 9, กรุงเทพ
พระราม 9, กรุงเทพ
พระราม 9, กรุงเทพ
พระราม 9, กรุงเทพ
พระราม 9, กรุงเทพ
พระราม 9, กรุงเทพ
ราชปรารภ, กรุงเทพ
เพชรรามา, กรุงเทพ
พระราม 9, กรุงเทพ
เพชรรามา, กรุงเทพ
อนุสาวรีย์ชัยสมรภูมิ, กรุงเทพ
ราชเทวี, กรุงเทพ
ทุ่งพญาไท, กรุงเทพ
ราชเทวี, กรุงเทพ
พระราม 9, กรุงเทพ
พระราม 9, กรุงเทพ
พระราม 9, กรุงเทพ
พระราม 9, กรุงเทพ

In [10]:
price = soup.find_all('div',{'class':'Rental_listing_price__lF63h'})

In [11]:
for i in price :
   
    
    i = str(i).split('<div class="Rental_listing_price__lF63h"><b class="Rental_card__content__price___TNdk" data-testid="listing-sales-price">')[1]
    
    i = str(i).split('</b></div>')[0]
    i = i.split('฿')[1]
    
   
  
    print(i)
    
    Price_list.append(i)

2,000,000
2,200,000
2,200,000
2,390,000
2,400,000
2,490,000
2,490,000
2,500,000
2,500,000
2,590,000
2,600,000
2,700,000
2,700,000
2,790,000
2,790,000
2,800,000
2,800,000
2,900,000
2,900,000
2,900,000

In [12]:
table = pd.DataFrame([ Title_list , Location_list, Price_list, ]).transpose()

table.columns = (['Title', 'Location','Price'])
table

,Title,Location,Price
0,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,000,000"
1,คอนโด 1 นอน ห้องใหญ่ ใกล้ BTS พญาไท,"พญาไท, กรุงเทพ","2,200,000"
2,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,200,000"
3,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,390,000"
4,คอนโด 2 นอน ห้องสวย ใกล้ BTS นานา ขั้นต่ำ 6 ด,"พระราม 9, กรุงเทพ","2,400,000"
5,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,490,000"
6,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,490,000"
7,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,500,000"
8,เดอะ คอมพลีท ราชปรารภ,"ราชปรารภ, กรุงเทพ","2,500,000"
9,วิช ซิกเนเจอร์ มิดทาวน์ สยาม,"เพชรรามา, กรุงเทพ","2,590,000"
10,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,600,000"
11,บ้าน 3 นอน ห้องกว้าง ใกล้ BTS พญาไท,"เพชรรามา, กรุงเทพ","2,700,000"
12,ราชวิถี ซิตี้ รีสอร์ท คอนโดมิเนียม,"อนุสาวรีย์ชัยสมรภูมิ, กรุงเทพ","2,700,000"
13,วิช แอท สยาม คอนโดมิเนียม,"ราชเทวี, กรุงเทพ","2,790,000"
14,บ้าน 3 นอน ตกแต่งสวย ใกล้ BTS ราชเทวี,"ทุ่งพญาไท, กรุงเทพ","2,790,000"
15,วิช แอท สยาม คอนโดมิเนียม,"ราชเทวี, กรุงเทพ","2,800,000"
16,ริทึ่ม อโศก,"พระราม 9, กรุงเทพ","2,800,000"
17,ไลฟ์ อโศก พระราม 9,"พระราม 9, กรุงเทพ","2,900,000"
18,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,900,000"
19,ไลฟ์ อโศก พระราม 9,"พระราม 9, กรุงเทพ","2,900,000"

In [13]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     20 non-null     object
 1   Location  20 non-null     object
 2   Price     20 non-null     object
dtypes: object(3)
memory usage: 608.0+ bytes

In [14]:

table['Title'] = table['Title'].astype(str)
table['Location'] = table['Location'].astype(str)
table['Price'] = table['Price'].astype(str)

table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     20 non-null     object
 1   Location  20 non-null     object
 2   Price     20 non-null     object
dtypes: object(3)
memory usage: 608.0+ bytes

### Export Pandas to CSV

In [15]:
table.to_csv("Scraping_week4_.csv", index=False)

## Upload data to DataPlatform

In [16]:
from dsmlibrary.datanode import DataNode

In [17]:
dir_raw_id = 118

In [18]:
datanode = DataNode()

Init DataNode sucessful!

## Read stored data from DataPlatform

In [19]:
from dsmlibrary.datanode import DataNode
import json
from tqdm.auto import tqdm
import pandas as pd

In [20]:
dir_raw_id = 118
dir_process_id = 120

In [21]:
datanode = DataNode()

Init DataNode sucessful!

In [22]:
datanode.upload_file(directory_id=dir_raw_id, file_path='Scraping_week4_.csv')

File Scraping_week4_.csv alrady exists, do you want to replace y/n :  y

  0%|          | 0.00/2.77k [00:00<?, ?B/s]

{'id': 866,
 'msg': 'file Scraping_week4_.csv create sucessful',
 'path': 'khatcha/DSI310-21/raw/Scraping_week4_.csv',
 'uploaded': True}

In [24]:
meta, fp = datanode.get_file(datanode.get_file_id(directory_id=dir_raw_id, name='Scraping_week4_.csv'))
meta

{'owner': 'khatcha',
 'human_size': '2.84 KB',
 'name': 'Scraping_week4_.csv',
 'description': 'file Scraping_week4_.csv',
 'directory': 118,
 'path': 'khatcha/DSI310-21/raw/Scraping_week4_.csv'}

In [25]:
df= pd.read_csv('Scraping_week4_.csv')
df

,Title,Location,Price
0,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,000,000"
1,คอนโด 1 นอน ห้องใหญ่ ใกล้ BTS พญาไท,"พญาไท, กรุงเทพ","2,200,000"
2,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,200,000"
3,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,390,000"
4,คอนโด 2 นอน ห้องสวย ใกล้ BTS นานา ขั้นต่ำ 6 ด,"พระราม 9, กรุงเทพ","2,400,000"
5,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,490,000"
6,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,490,000"
7,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,500,000"
8,เดอะ คอมพลีท ราชปรารภ,"ราชปรารภ, กรุงเทพ","2,500,000"
9,วิช ซิกเนเจอร์ มิดทาวน์ สยาม,"เพชรรามา, กรุงเทพ","2,590,000"
10,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,600,000"
11,บ้าน 3 นอน ห้องกว้าง ใกล้ BTS พญาไท,"เพชรรามา, กรุงเทพ","2,700,000"
12,ราชวิถี ซิตี้ รีสอร์ท คอนโดมิเนียม,"อนุสาวรีย์ชัยสมรภูมิ, กรุงเทพ","2,700,000"
13,วิช แอท สยาม คอนโดมิเนียม,"ราชเทวี, กรุงเทพ","2,790,000"
14,บ้าน 3 นอน ตกแต่งสวย ใกล้ BTS ราชเทวี,"ทุ่งพญาไท, กรุงเทพ","2,790,000"
15,วิช แอท สยาม คอนโดมิเนียม,"ราชเทวี, กรุงเทพ","2,800,000"
16,ริทึ่ม อโศก,"พระราม 9, กรุงเทพ","2,800,000"
17,ไลฟ์ อโศก พระราม 9,"พระราม 9, กรุงเทพ","2,900,000"
18,เดอะ มาร์ค รัชดา แอร์พอร์ตลิ้งค์,"พระราม 9, กรุงเทพ","2,900,000"
19,ไลฟ์ อโศก พระราม 9,"พระราม 9, กรุงเทพ","2,900,000"

## write Datanode to DataPlatform

In [26]:
datanode.write(df=df, directory=dir_process_id, name="Week_04", profiling=True, lineage=[datanode.get_file_id(directory_id=dir_raw_id, name='Scraping_week4_.csv')])

{'sucess': True,
 'file_id': 876,
 'path': 'khatcha/DSI310-21/process/Week_04.parquet',
 'lineage': True}